.cisco,
.huawei,
.hp,
.juniper {
	filter: contrast(0);
}
.cisco:hover,
.huawei:hover,
.hp:hover,
.juniper:hover {
	filter: contrast(1);
}
.container-brands {
	max-width: 100vw;
	width: 100%;
}
@media (max-width: 768px) {
	.container-brands {
		min-height: 78px;
		max-width: 100vw;
		width: 100%;
		max-height: 300px;
		height: 100%;
	}
	.container-brands .sec-con-brand {
		max-width: 768px;
		width: 100%;
		max-height: 200px;
		height: 100%;
		padding: 30px 20px;
		gap: 20px;
	}
	.container-brands .sec-con-brand .brand-log0 {
		width: inherit;
	}
}
@media (min-width: 768px) {
}
