.counter {
	width: 100%;
	height: 149px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.counter-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 96px;
	width: 100%;
	height: auto;
}
.counter-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.counter-content h1 {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 34px;
	line-height: 105%;
	letter-spacing: 0.07em;
	color: #239d60;
}

.counter-content h2 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 105%;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #212125;
}
@media (max-width: 768px) {
	.counter {
		display: none;
	}
}
