.Footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 439px;
	background: #212125;
}
.Footer-Container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1152px;
	width: 100%;
	height: 247px;
	margin: 0 20px;
}

.row-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 51px;
	width: 100%;
	min-height: 56px;
	flex-wrap: wrap;
}
.logo2 {
	display: flex;
	gap: 5px;
	width: 94px;
	height: 36px;
	justify-content: center;
	align-items: center;
	font-family: "Poppins";
}
.textfooter {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	/* min-width: 300px; */
}
.social-media-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 26px;
	width: 90px;
	height: 32px;
}
.social-media-links .whatsapp,
.social-media-links .tokopedia {
	width: 32px;
	height: 32px;
}
.line {
	width: 100%;
	height: 1px;
	background-color: #ffffff;
}
.row-2 {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	width: 100%;
	height: 111px;
}

.column-1 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 270px;
	width: 100%;
	height: 111px;
}

.column-1 a {
	width: 100%;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 50px;
	font-size: 16px;
	text-decoration-line: underline;
	color: #ffffff;
}

.column-2 {
	display: flex;
	flex-direction: column;
	gap: 10px;

	max-width: 270px;
	width: 100%;
	height: 111px;
}
.column-2 a {
	width: 100%;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 50px;
	font-size: 16px;
	text-decoration-line: underline;
	color: #ffffff;
}

@media (max-width: 768px) {
	.Footer {
		height: 665px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.Footer-Container {
		margin: 40px 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: start;
		gap: 40px;
	}
	.row-1,
	.row-2 {
		display: flex;
		flex-direction: column;
		gap: 51px;
		height: auto;
	}
	.row-2 {
		gap: 24px;
	}
	.column-1,
	.column-2 {
		max-width: 100%;
		align-items: center;
		justify-content: center;
		gap: 24px;
	}

	.column-1 a,
	.column-2 a {
		width: auto;
	}
	.textfooter {
		font-size: 14px;
	}
}
