.list-country {
	display: none;
}
.select-country .icon {
	rotate: -90deg;
}

.select-country {
	cursor: pointer;
}

.cont-country:hover .list-country {
	display: block;
}
.cont-country:hover .icon {
	rotate: 0deg;
}
