/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.gradien-slide {
	background: linear-gradient(90deg, #239d60 0%, rgba(97, 172, 100, 0) 100%);
	width: 100px;
}

@media (max-width: 425px) {
	.quotes-section {
		gap: 50px;
	}

	.quotes-section h1 {
		font-size: 16px;
	}

	.hide-scroll {
		gap: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	.gradien-slide {
		width: 35px;
	}
}
