.search-box {
	width: 760px;
	height: 55px;
	display: flex;
	border-radius: 15px 0px 0px 15px;
}

.search-box input {
	width: 692px;
	height: 55px;
	border-radius: 0 15px 15px 0;
	border: 1px solid #9a9a9a;
}

.green-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 73px;
	height: 55px;
	background-color: #239d60;
	border-radius: 15px 0px 0px 15px;
}
