.service-con {
	width: 100%;
	min-height: 2068px;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 168px 0 20px 20px;
	margin-bottom: 95px;
	gap: 161px;
}
.tawaran {
	display: flex;
	width: 100%;
	height: auto;
	max-width: 1149px;
	flex-direction: column;
	gap: 160px;
}
.tawaran h2 {
	text-align: center;
	height: auto;
	width: 100%;
	max-width: 520px;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 33px;
	line-height: 105%;
	letter-spacing: 0.07em;
	color: #212125;
}
.title {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.garis {
	max-width: 306px;
	width: 100%;
	height: 0px;
	border: 3px solid #212125;
	border-radius: 20px;
}
.feat-1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 180px;
	width: 100%;
	min-height: 437px;
	height: auto;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.frame-6 {
	width: 100%;
	max-width: 405px;
	min-height: 437px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 50px;
}
.frame-6 h3 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 105%;
	letter-spacing: 0.07em;
	color: #212125;
	gap: 100px;
}
.frame-6 p {
	max-width: 405px;
	width: 100%;
	min-height: 210px;
	height: 100%;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #212125;
}
.frame-5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
}
.img-con {
	max-width: 564px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 421px;
}
img {
	object-fit: fill;
}
.frame-4 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
	max-width: 255px;
	width: 100%;
	height: 142px;
}
.mc {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 30px 5px 11px;
	gap: 9px;
	width: auto;
	height: 34px;
	background: rgba(212, 118, 244, 0.6);
	backdrop-filter: blur(2px);
	border-radius: 10px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #f7f39a;
}
.at {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 30px 5px 11px;
	gap: 9px;
	width: auto;
	height: 34px;
	background: rgba(212, 118, 244, 0.6);
	backdrop-filter: blur(2px);
	border-radius: 10px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #f7f39a;
}
.kb {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 30px 5px 11px;
	gap: 9px;
	width: auto;
	height: 34px;
	background: rgba(212, 118, 244, 0.6);
	backdrop-filter: blur(2px);
	border-radius: 10px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #f7f39a;
}
.feat-2 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 180px;
	width: 100%;
	min-height: 479px;
	height: auto;
	flex: none;
	order: 2;
	flex-grow: 0;
	gap: 50px;
}
.frame-9 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	max-width: 405px;
	width: 100%;
	min-height: 479px;
	height: auto;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.frame-8 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
	max-width: 405px;
	width: 100%;
	min-height: 297px;
	height: auto;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.frame-8 h3 {
	max-width: 236px;
	width: 100%;
	height: 25px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 105%;
	letter-spacing: 0.07em;
	color: #212125;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.frame-8 p {
	max-width: 405px;
	width: 100%;
	min-height: 210px;
	height: auto;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #212125;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.frame-7 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
	max-width: 255px;
	width: 100%;
	min-height: 142px;
	height: auto;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.feat-3 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 180px;
	width: 100%;
	height: 421px;
	order: 3;
	flex-grow: 0;
}
.frame-12 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	max-width: 405px;
	width: 100%;
	height: 416px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.frame-12 h3 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 105%;
	letter-spacing: 0.07em;
	color: #212125;
	gap: 100px;
}
.frame-12 p {
	max-width: 405px;
	width: 100%;
	min-height: 210px;
	height: 100%;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #212125;
}
.frame-11 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
}
.img-3 {
	width: 564px;
	height: 421px;
	border-radius: 20px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.frame-10 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 20px;
	max-width: 255px;
	width: 100%;
	height: 142px;
}

@media (max-width: 768px) {
	.service-con .img-con {
		display: none;
	}
	.service-con {
		display: flex;
		justify-content: center;
		padding: 128px 20px 0 20px;
		min-height: 1500px;
		height: auto;
	}
	.feat-1,
	.feat-2,
	.feat-3 {
		display: flex;
		justify-content: center;
	}
	.feat-1 {
		margin-top: 50px;
	}

	.title h2 {
		font-size: 16px;
	}

	.service-con h3 {
		font-size: 14px;
	}

	.service-con p {
		font-size: 12px;
		min-height: 144px;
	}

	.tawaran {
		gap: 0;
		height: 100vh;
	}

	.frame-6,
	.frame-9.frame-12 {
		gap: 40px;
	}
}
